body {
    background-color: powderblue;
}
h1 {
    color: rgb(48, 18, 101);
    font-family: "Comic Sans MS", cursive, sans-serif;

    font-size: 400%;
    text-align: center;
}
h2 {
    color: rgb(48, 18, 101);
    font-family: "Comic Sans MS", cursive, sans-serif;

    font-size: 200%;
    text-align: center;
}
p {
    color: rgb(255,255,255);
    font-family: courier;
    font-size: 160%;
    text-align: center;

}
p.two {
    color: rgb(255,255,255);
    font-family: courier;
    font-size: 100%;
    text-align: center;

    
}
p.three {
    color: rgb(48, 18, 101);
    font-family: courier;
    font-size: 70%;
    
    align-self: center;
    
}
img {
	display: block;
    margin: auto;
    width:200px;
    height:200px;"
}

img.three {
	align-self: : center;
	margin: 200;
    
    width:50px;
    height:50px;"
}


a:link, a:visited {
    background-color: rgb(21, 199, 226);
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    padding: 24px 35px;
    margin-left: 300px; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(238, 170, 201);
}

a.two:link    {
	color:white; 
	background-color:transparent;
	 text-decoration:none;
	 margin-left: 200px;
	}
a.three:link    {
	color:white; 
	background-color:transparent;
	 text-decoration:none;
	 margin:0;
	}
a.three:hover, a:active {
    background-color:transparent;
    color:rgb(238, 170, 201);
     
    
}


button {
    background-color: rgb(48, 18, 101);
    border: none;
    color: white;
    
    margin-top: 250px;
    margin-left: 550px; 
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: "Comic Sans MS", cursive, sans-serif;






    #subscribe, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	box-shadow:	
		0pt 2px 5px rgba(105, 108, 109,  0.7),	
		0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	border-radius: 5px;
}
#login{
	z-index: 22;
}



